<h1>Let's get some coffee?</h1>

<hr>
<div class="row">
	<div class="col-ma-6">
		<h3>Office Address</h3>
		<p>Ziller Metrophlitan Park</p>
		<h3>Phone</h3>
		<p><%= number_to_phone "5203058198" %></p>
		<h3>Email</h3>
		<p><a href="mailto:almortada88@gmail.com?subject=coffee">Email Me: </a>almortada88@gmail.com</p>

		
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.9515239577195!2d-97.775047986383!3d30.266962381801903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b53a1df2e44f%3A0x62182a199b2e5fad!2sZilker+Metropolitan+Park!5e0!3m2!1sen!2sus!4v1523588952378" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>

